<mat-card
  class="project"
  matRipple
  [matRippleDisabled]="isRow"
  [ngClass]="{ 'row-type': isRow }"
  [routerLink]="isRow ? null : '/project/' + project.id"
>
  <div
    class="project__image"
    [ngStyle]="{
      backgroundImage: 'url(' + project.thumbnail + ')',
      marginRight: isRow ? '15px' : 0
    }"
  ></div>
  <div [ngStyle]="{ textAlign: isRow ? 'left' : 'center' }">
    <h5
      [ngStyle]="{
        marginTop: '10px',
        font: '500 20px/32px Roboto, \'Helvetica Neue\', sans-serif'
      }"
    >
      {{ project.title }}
    </h5>
    <ng-template [ngIf]="isRow">
      <div>
        <h6 style="font-size: 17px">
          Description:
        </h6>
        <p>
          {{ project.description }}
        </p>
      </div>
      <div>
        <h6 style="font-size: 17px">
          Technologies:
        </h6>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngFor="let tech of techs" color="primary" selected>
            {{ tech }}
          </mat-chip>
        </mat-chip-list>
      </div>
      <div [ngStyle]="{ marginTop: '15px' }">
        <button mat-button color="warn" [routerLink]="'/project/' + project.id">
          Show Details
        </button>
      </div>
    </ng-template>
  </div>
</mat-card>
