$image: 50%;

.contacts {
  padding: 15px 0;

  &__form {
    $this: &;

    overflow: hidden;
    display: flex;
    margin: 0 auto;
    padding: 0;

    &__image {
      flex-basis: $image;
      background-size: cover;
      background-position: center center;
      background-image: url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    }

    form {
      display: block;
      flex-basis: calc(100% - #{$image});
      padding: 15px;
      position: relative;

      mat-form-field {
        width: 100%;
        margin: 5px 0;
      }

      .submit-animation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;

        > * {
          flex-basis: 100%;
        }

        h6 {
          margin-bottom: 20px;
        }

        p {
          font-size: 20px;
        }

        mat-icon {
          $w: 70px;
          width: $w;
          height: $w;
          font-size: $w;
          color: #2ecc71;
        }
      }
    }

    @media (max-width: 820px) {
      $image: 40%;

      &__image {
        flex-basis: $image;
      }

      form {
        flex-basis: calc(100% - #{$image});
      }
    }

    @media (max-width: 700px) {
      &__image {
        display: none;
      }

      form {
        flex-basis: 100%;
      }
    }
  }
}
